<div class="new_comment_form_slider">
	<h2>Neue Zeit erfassen:</h2>

	<%= form_for @comment, :url => verify_or_create_comment_path(), :remote => true, :html => {:id => "new_comment_form"} do |f| %>
		<%= f.hidden_field :target_type %>
		<h3>Bitte Projekt und Aktivit채t ausw채hlen</h3>
		<p><%= f.select :project_id, current_user.projects.collect{|p| [p.name, p.id]}, :include_blank => "Projekt ausw채hlen"%></p>
		<p><%= f.select :target_id, option_groups_from_collection_for_select(TaskList.where("project_id in (?)", @comment.project_id || current_user.project_ids), :tasks, :name, :id, :name, @comment.target_id  ), :include_blank => "Task ausw채hlen"%></p>
		<p>
			<%= date_picker(f, :redate, {:message => "Heute"}, :disabled => false) %>
			<span>habe ich folgende Zeit investiert</span>
			<%= f.text_field :human_hours, :size => 10 %>
		</p>
		<p>Diese Zeit ist abrechenbar? <%= f.check_box :billable %></p>
		<p>Beschreibung: <%= f.text_field :body, :size => 50 %></p>
		<%= link_to "abbrechen", "#", :id => "cancel_comment_form"%>
		<%= f.submit "Formular aktualisieren", :id => "comment_form_submit_button" %>
		<%= f.submit "Diese Zeit erfassen!", :id => "comment_form_submit_button_send"%>

	<% end %>	
</div>

<script type="text/javascript">
	jQuery("#new_comment_form").bind("change", function(){
		jQuery('#comment_form_submit_button').trigger('click');
	});
</script>

